@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administração Shrek Park</h1>
    <p>Bem-vindo ao site de administração do mais novo parque 2 em 1 do Shrek.</p>
    <p>Siga os botões na navbar para decidir o que fazer no site.</p>
</div>
